<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" /> <!-- TopOn SDK通用 必要权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 非中国区SDK必要权限 -->
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/dididi"
        android:name=".base.BaseApp"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ConvenientFile"
        tools:targetApi="31" >
        <!-- topOn android 9以上适配 begin -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" /> <!-- topOn android 9以上适配 end -->
        <!-- function component begin -->

        <activity
            android:name=".ui.JumpFActivity"
            android:enabled="false"
            android:excludeFromRecents="true"
            android:exported="true"
            android:icon="@drawable/dididi_shape"
            android:label="@string/dididi"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Trans">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ConmiActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:icon="@drawable/dididi_shape"
            android:label="@string/dididi"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Trans" />

        <service
            android:name=".service.MiConService"
            android:exported="false" />

        <activity
            android:name=".ui.ConSsActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:icon="@drawable/dididi_shape"
            android:label="@string/dididi"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Trans" /> <!-- function component end -->
        <activity
            android:name=".ui.StorageActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.InfoActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.CheckActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.BrowseActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SplashActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
    </application>

</manifest>